
@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  background: #FAF0EA;
}

<<<<<<< HEAD
/* .links {
=======
.links {
>>>>>>> 4f435dfc773c4878868dc5a2b90009eb9e96757b
  padding: 15px;
  margin: 15px;
  display: flex;
} */